<% include ../partials/header %>

<div class="row">
    <h1 class="form-heading">Add a New Comment to <%= cafe.name %></h1>
    
    <div class="form-content">
        <form action="/cafes/<%= cafe._id %>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/cafes">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>
